/* body {
    background-color: red;
} */

.container {
    max-width: 600px;
    margin: 0 auto;
}

.projects-header {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    /* margin: 20px; */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 20px;
}

.projects-grid li {
    list-style-type: none;
}

.project-polaroid {
    background: teal;
}