/* body {
    background-color: red;
} */

.container {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-header {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* margin: 20px; */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 20px;
}

.projects-grid li {
    list-style-type: none;
}

.project-polaroid {
    padding: 20px;
    background: #B8D4E3;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.2);
}